.Forecast {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 3px;
}
.Forecast .col-2 {
  border: 1px solid #5aaaff;
  padding: 0;
  margin: 120px auto 0;
  text-align: center;
  width: 52px;
  color: #5aaaff;
  background-color: rgb(0, 0, 0, 0.2);
}
.Forecast .temp {
  font-size: xx-small;
  line-height: 12px;
  padding: 8px;
}
