.Form .container-search{
  display: block;
  margin:0;
  width:360px;
  padding:0;
}

.Form .btn-primary {
  background-color: #cce2f3;
  border: solid 1px #5aaaff;
  padding: 5px 10px;
  margin: 3px;
  color: #5aaaff;
  border-radius: 30px;
}

#city-input{
  width: 160px;
}
